h1 {
  text-align: center;
  font-size: 42px;
  font-weight: 600;
  margin: 30px 0;
}
h2,
h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.anchor-base-style {
  text-decoration: none;
  color: black;
}
